<div class="leftSidebar">
    <h5>Admin panel</h5>
    <div class="line"></div>
    <div class="menu">

        <div>
            <img src="/assets/images/dashboardicon.png" alt="">
            <span>Dashboard</span>
        </div>

        <div>
            <img src="/assets/images/productmanagment.png" alt="">
            <span>Product Management</span>
        </div>

        <div>
            <img src="/assets/images/carticon.png" alt="">
            <span>Odres</span>
        </div>

        <div>
            <img src="/assets/images/categoryicon.png" alt="">
            <span>Category</span>
        </div>

        <div>
            <img src="/assets/images/offericon.png" alt="">
            <span>Offers</span>
        </div>

        <div>
            <img src="/assets/images/couponicon.png" alt="">
            <span>Coupon</span>
        </div>

        <div>
            <img src="/assets/images/userlogo.png" alt="">
            <span>User Management</span>
        </div>

        <div>
            <img src="/assets/images/logouticon.png" alt="">
            <span>Logout</span>
        </div>
    </div>
</div>