<footer>
    <div class="footerWrapper">
        <div class="footerLeftSec">
            <div>
                <img src="/assets/images/logo.png" alt="">
                <h4>smart choice for smart living</h4>
            </div>
        </div>

        <div class="footerMiddleSec">

            <div>
                <h5>About</h5>
                <a href="">contact us</a>
                <a href="">about us</a>
            </div>
            <div>
                <h5>Help</h5>
                <a href="">Shipping</a>
                <a href="">orders</a>
                <a href="">FAQ</a>
            </div>
            <div>
                <h5>Contact us</h5>
                <h6>Phone:</h6>
                <a href="">7994414155</a>
                <h6>Email:</h6>
                <a href="">connect@essentials.com</a>
            </div>

        </div>

        <div class="footerRightSec">
            <h5>Connect us</h5>
            <img src="/assets/images/x.png" alt="">
            <img src="/assets/images/fb2.webp" alt="">
            <img src="/assets/images/instagram.png" alt="">


        </div>
    </div>
<div class="copyright">
    <p> © All Right Reserved | Essentials india</p>
</div>

</footer>