footer {
  .footerWrapper {
    background-color: #232f3e;
    margin-top: 50px;
    color: #DDD;
    display: flex;
    height: 200px;
    padding: 50px 320px 30px;
    justify-content: space-between;
    a{
        color: #DDD;
        text-decoration: none;
    }

    .footerLeftSec {
      height: 100%;
      display: flex;
      align-items: center;
      h4 {
        font-size: 15px;
      }
      img {
        height: 35px;
      }
    }
    .footerMiddleSec {
      width: 100%;
      display: flex;
      justify-content: space-around;
      color: #ffff;
      div {
        display: flex;
        flex-direction: column;
      }
    }
    .footerRightSec {
      width: 157px;
      h5 {
        color: #ffff;
      }
      img {
        height: 20px;
        padding-right: 5px;
      }
    }
  }

  .copyright{
    width: 100%;
    color: #fff;
    background-color: 131A22;
    margin: 0;
    text-align: center;
    height: 20px;
    p{
        margin-bottom: 0;
        font-size: 12px;
    }
  }
}
