<html lang="en">
    <!-- including head from partials -->
    <%- include('../partials/htmlHead.ejs',{csspath:"/css/userCss/homepage/home.css"}) %>
<body>
  
    <!-- including navbar (header) from partials -->
  
    <%-include("../partials/navbar.ejs")  %>

  <div class="container-fluid">
    
    <!--==================== hero section================== -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/assets/images/banner3.jpeg" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="/assets/images/banner2.jpeg" alt="">
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
        </div>
    <!--==================== hero section================== -->

    <!-- ============best selling products ================== -->
     <div class="bestSellingSec rounded-3">
        <h3>Related Product Suggession</h3>

            <div class="bestProducts">
                <!-- ====card Starts ==== -->
                <div class="productCard" >
                    <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="cardBody">
                            <div class="title">
                                    <h6>product title</h6>
                                    <i class="fa-regular fa-heart"></i>
                            </div>
                                
                            <div class="description">
                                    <p>short description to the  fdghds sdf hdfghproduct</p>
                            </div>

                            <div class="price-buynow">
                                <div>
                                    <span>₹</span><span>10999</span>
                                </div>
                                <button type="button" class="btn btn-primary">Buy Now</button>
                            </div>

                        </div>
                </div>
                <!-- =====card ends===== -->
            </div>
     
      </div> 
      <!-- ============best selling products ================== -->   


      <!-- ============Product may you also like section================== -->
     <div class="bestSellingSec rounded-3">
        <h3>Products Might also like</h3>

            <div class="bestProducts bestProducts">
                <!-- ====card Starts ==== -->
                <div class="productCard" >
                    <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="cardBody">
                            <div class="title">
                                    <h6>product title</h6>
                                    <i class="fa-regular fa-heart"></i>
                            </div>
                                
                            <div class="description">
                                    <p>short description to the  fdghds sdf hdfghproduct</p>
                            </div>

                            <div class="price-buynow">
                                <div>
                                    <span>₹</span><span>10999</span>
                                </div>
                                <button type="button" class="btn btn-primary">Buy Now</button>
                            </div>

                        </div>
                </div>
                <!-- =====card ends===== -->
               
            </div>
      </div> 
      <!-- ============Product may you also like section Ends ================== --> 

       <!-- =============top brands sugesion =================== -->
        <div class="topBrandSec">
            <div>
                <h3>Top Brands</h3>
            </div>
            <div class="BrandLogos">
                 <div>
                    <img src="/assets/images/samsungt.png" alt="">
                    <h4>SAMSUNG</h4>
                 </div>

                 <div>
                    <img src="/assets/images/apple.png" alt="">
                    <h4>APPLE</h4>
                 </div>

                 <div>
                    <img src="/assets/images/Sony.png" alt="">
                    <h4>SONY</h4>
                 </div>

                 <div>
                    <img src="/assets/images/Bose.png" alt="">
                    <h4>BOSE</h4>
                 </div>
                 
            </div>

        </div>

    </div>

    <%- include('../partials/footer.ejs') %>


   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>  
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <script src="/js/userjs/home.js"> </script>
</body>
</html>