<html>
    <link rel="stylesheet" href="/css/userCss/productDetails/magnifier.css">
    <%- include('../partials/htmlHeadUser.ejs',{csspath:"/css/userCss/productDetails/productDetails.css"}) %>
    

    <body>
      <%- include("../partials/userNavbar.ejs") %>

    <div class="container">

        <div class="detailsWrapper">
            <!--================!!!!!! left section product view/addtocart/img !!!!============= --> 
            <div class="productView">

                <div class="sideBar">
                    <!-- mini images -->
                  <div>
                    <img src="" alt="">
                  </div>

                </div>
                <div class="productImgSec">
                    <div class="imageSec">

                        <div class="imageSec ">
                            <a class="magnifier-thumb-wrapper" >
                                <img  class="imageSec "  id="thumb" src="https://fps.cdnpk.net/images/home/subhome-ai.webp?w=649&h=649"
                                data-large-img-url="https://fps.cdnpk.net/images/home/subhome-ai.webp?w=649&h=649"
                                data-large-img-wrapper="preview">
                            </a>
                            <!-- <div class="magnifier-preview" id="preview" style="width: 400px; height: 300px"></div> -->
                        </div>
                        
                    </div>
                    <div class="addtoCartSec">
                        <button type="button" class="btn btn-primary">Buy Now</button>
                        <button type="" class="btn btn-outline-primary">Add to cart +</button>
                        
                        <select id="quantityDropdown" class="form-select form-select-sm" aria-label="Small select example">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                            <option value="3">6</option>
                          </select>

                    </div>
                </div>



            </div>

             <!--================= right section /all details================-->
            <div class="productDetails">
                <!-- product title -->
                <h4>Fastrack Revoltt FS1|1.83 Display|BT Calling|Fastcharge|110+ Sports Mode|200+ WatchFaces Smartwatch  (Black Strap, Free Size)</h4>
                  <!-- ========= Price section =========== -->
                <div class="line"></div>
                 <h6 class="text-success">Special Price</h6>
                 <h3>₹10,000</h3>
                 <p>inclusive of all taxes</p>

                 <div class="line"></div>
                 <img src="/assets/images/bluetick.webp" alt=""><span>Free shipping on orders over  ₹500</span><br>
                 <img src="/assets/images/bluetick.webp" alt=""><span>7 Days Replacement Policy</span>
                 
                <div class="line"></div>
                <!-- ======specificatio Table====== -->
                <h6 >Specfication</h6>
                <table>
                    <tr>
                        <th>color</th>
                        <td>red</td>
                    </tr>
                </table>

                <div class="line"></div>
                <h6>About this Product</h6>
                <ul>
                    <li>Processor: Intel Core 5 Processor 120U (1.4 GHz Up to 5.0 GHz 12 MB Smart Cache) | Memory: 16 GB LPDDR4X Memory | Storage: 512GB SSD| Intel Iris XE Graphics</li>
                </ul>
            </div>
        </div>
       <!-- ============Ends============= -->

    <!-- ============best selling products recomentation ================== -->
    <section id="featured-products" class="products-carousel">
        <div class="container-lg overflow-hidden py-5">
          <div class="row">
            <div class="col-md-12">
  
              <div class="section-header d-flex flex-wrap justify-content-between my-4">
                
                <h2 class="section-title">Products Also you Like</h2>
  
                <div class="d-flex align-items-center">
                  <div class="swiper-buttons">
                    <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                    <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                  </div>  
                </div>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
  
              <div class="swiper">
                <div class="swiper-wrapper">
                                  
                  <!-- product slider  -->

                  <div class="product-item swiper-slide">
                    <figure>
                      <a href="index.html" title="Product Title">
                        <img src="images/product-thumb-17.png" alt="Product Thumbnail" class="tab-image">
                      </a>
                    </figure>
                    <div class="d-flex flex-column text-center">
                      <h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
                      <div>
                        <span class="rating">
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                          <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                        </span>
                        <span>(222)</span>
                      </div>
                      <div class="d-flex justify-content-center align-items-center gap-2">
                        <del>$24.00</del>
                        <span class="text-dark fw-semibold">$18.00</span>
                        <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                      </div>
                      <div class="button-area p-3 pt-0">
                        <div class="row g-1 mt-2">
                          <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                          <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                          <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                 <!-- product ends -->
  
                    
                </div>
              </div>
              <!-- / products-carousel -->
  
            </div>
          </div>
        </div>
    </section>
 <!-- ============best selling products recomentation ================== -->



    </div>



    




    <%- include("../partials//userFooter.ejs") %>



    <script src="/js/userjs/magnifierPackage/Event.js"></script>
    <script src="/js/userjs/magnifierPackage/magnifier.js"></script>
    <script>
        var evt = new Event(), m = new Magnifier(evt);
         m.attach({
        thumb: '#thumb',
        // large: 'https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg', 
        largeWrapper: 'preview',
        zoomable: true,
        mode: 'inside',
    });
    </script>

    <script src="/public/js/userjs/productDetails.js"></script>
  </body>
</html>
