<html lang="en">
  <%- include("../partials/htmlHead.ejs",{csspath:"/css/userCss/shop/shop.css"}) %>
<body>
  <%-include("../partials/navbar.ejs") %>

  <div class="container-fluid mainContainer">
    <div class="filterMenu">
      <h4>
        Filters
      </h4>
      <div class="line"></div>
      

    </div>

    <div class="productResult">
        <h4>Search Results.</h4>
        <div class="line"></div>

      <div class="resultContainer">
          <!-- =========== card Starts ========== -->
          <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->

           <!-- =========== card Starts ========== -->
           <div class="productCard" >
            <img class="card-img-top" src="..." alt="Card image cap">

                <div class="cardBody">
                    <div class="title">
                            <h6>product title</h6>
                            <i class="fa-regular fa-heart"></i>
                    </div>
                        
                    <div class="description">
                            <p>short description to the  fdghds sdf hdfghproduct</p>
                    </div>

                    <div class="price-buynow">
                        <div>
                            <span>₹</span><span>10999</span>
                        </div>
                        <button type="button" class="btn btn-primary">Buy Now</button>
                    </div>

                </div>
          </div>
          <!-- ============ card ends ============= -->





      </div>

    </div>

   



  </div>

    <%- include("../partials/footer.ejs") %>
    <script src="/js/userjs/shop.js"> </script>
</body>
</html>